.input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-button{
    background-color: #0a0b0a;
    color: rgb(5, 4, 4);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}